@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind's blue-500 */
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* Tailwind's blue-600 */
}


body {
  box-sizing: border-box;
}
@theme