@import "tailwindcss";


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #b2cdff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* Tailwind's blue-500 */
  border-radius: 4px;
  border: 1px solid #b1cdff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* Tailwind's blue-600 */
}


body {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@theme